# Version control
.git
.gitignore

# Documentation & IDE
.vscode
.idea
*.md

# Node / Frontend
**/node_modules
**/dist
**/build
.npm

# Go / Backend binaries & DB
**/*.db
**/*.db-journal
**/katherbox
**/seedusers
**/seedproducts
**/seeddummy

# Temporary files & logs
*.log
.DS_Store
tmp
